*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1.5em;
    text-align: center;
    margin: 3em;
    border: 1px solid red;
    border-radius: 25px;
    
    
}
.user-result{
    background:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    padding: 1em;
    height: 50vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

}
